manifest {
    homePage = 'https://github.com/icgc-argo/dna-seq-processing-wfs'
    description = 'ICGC ARGO DNA Seq Processing Pipeline'
    version = '0.5.0-dev'
    defaultBranch = version
    nextflowVersion = '>=19.10.0'
}

process {
    container = 'ubuntu:18.04'
    cpus = 1
    memory = 1.GB
}

docker {
    enabled = true
    runOptions = '-u \$(id -u):\$(id -g)'
}

weblog {
    enabled = true
    url = 'http://elasticsearch-master:9200/nextflow-pcawg/_doc/'
}
