manifest {
    homePage = 'https://github.com/icgc-argo/dna-seq-processing-wfs'
    description = 'ICGC ARGO DNA Seq Processing Pipeline'
    name = 'dna-seq-alignment'
    version = '0.6.0-dev'
    defaultBranch = version
    nextflowVersion = '>=20.01.0'
}

process {
    container = 'ubuntu:18.04'
    cpus = 1
    memory = 1.GB
}

docker {
    enabled = true
    // runOptions = '-u \$(id -u):\$(id -g)'
}
