manifest {
    homePage = 'https://github.com/icgc-argo-workflows/dna-seq-processing-wfs'
    description = 'ICGC ARGO DNA Seq Processing Workflow'
    nextflowVersion = '>=20.10'
}

docker {
    enabled = true
    runOptions = '-u \$(id -u):\$(id -g)'
}

process {

    withName: 'payloadGenDnaSeqQc|payloadGenDnaAlignment' {
        publishDir = [
            path: { "${params.publish_dir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
            mode: 'copy',
            enabled: params.publish_dir ? true : false
        ]
    }

    withName: 'gatkCollectOxogMetrics|gatherOxogMetrics' {
        publishDir = [
            enabled: false
        ]
    }

}